.wrapper {
  background: #fff;
  width: 100%;
  height: 100vh;
  display: flex;
}

.burger {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  margin-right: 20px;
  margin-top: 21px;
}

.burger > img {
  width: 16px;
  height: 14px;
}

.gameContent {
  width: 80%;
  background-color: #f5f5f7;
  padding: 5%;
  display: flex;
  flex-direction: column;
}

.gameContent > h1 {
  max-width: 624px;
  flex: 1;
  font-size: 32px;
  font-weight: 600;
}

@media screen and (max-width: 768px) {
  .wrapper {
    height: 100vh;
  }
  .gameContent {
    width: 100%;
    align-items: center;
  }
  .gameContent > h1 {
    text-align: center;
    font-size: 18px;
    margin-top: 40%;
  }
}

@media screen and (max-width: 320px) {
  .gameContent {
    width: 100%;
    align-items: center;
    padding: 0;
  }
  .gameContent > .answerListWrapper {
    margin-bottom: 5%;
  }
  .gameContent > h1 {
    max-width: 288px;
  }
}
